@import url(http://fonts.googleapis.com/css?family=Lato:300);

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

html{
    background-color: rgb(218, 219, 228);
    font-size:14px;
    font-weight:300;
    background-attachment: fixed;
}


/*
html,
blockquote,
footer,
body > form{
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50px), linear-gradient(0, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0) 50px);
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50px), linear-gradient(0, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0) 50px),radial-gradient(closest-side, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0.02 ) 99%),radial-gradient(closest-side, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, .02) 99%);
	background-size: 100%, 100%, 8px, 8px 8px;
	background-position: 0 0, 0 0, 15px 6px;
}
*/
	body{
		border: 1px solid rgb(201, 202, 202);
	    font-family: 'Lato', sans-serif;
	    margin: 0 auto;
	    margin-bottom:10px;
	    padding: 35px 50px 15px 50px;
	    max-width: 1024px;
	    background-color: #FFFFFF;
	    color: #4E5260;
	    position:relative;
	    line-height: 2;
	}
		button{
			padding:10px;
			/*
			display: inline-block;
			border:0;
			padding:10px;
			border-radius:5px;
			font-size:1em;
			background-color: #10A54A;
			color:white;*/
		}

blockquote, footer{
	background-color: rgb(247, 73, 73);
	color:white;
	border: 1px solid #CCC;
	padding: 15px 60px;
	margin: 0 -60px 35px -60px;	
	text-align: justify;
	position: relative;
}
	footer{
		margin-top:50px;
		margin-bottom:0;
	}

	blockquote p{
		line-height: inherit;
	}


blockquote:after,footer:after,body > form:after,
blockquote:before,footer:before,body > form:before{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
}
blockquote{
	box-shadow: 0 8px 5px -5px #aaa;
}
blockquote:after, body > form:after{
	margin-top: 1px;
	border-color: #aaa #aaa transparent transparent;
	left: -1px;
}
blockquote:before, body > form:before{
	margin-top: 1px;
	border-color: #aaa transparent transparent #aaa;
	right: -1px;
}

footer{
	box-shadow: 0 -8px 5px -5px #aaa;
}
footer:after{
	border-color: transparent #aaa #aaa transparent;
	top:-11px;
	left: -1px;
}
footer:before{
	top:-11px;
	border-color: transparent transparent #aaa #aaa;
	right: -1px;
}

/** Anchor elements aimed to link hashtags, respect size of following element for which they refer */
a[name]{
	/*	display: inline-block; */
}

a{
	color:inherit;
}

h1,h2,h3,h4{
	font-weight:300;
	text-indent:40px;
}

h2{
	border-bottom: 1px solid #dcdcdc;
	margin: 1.5em -50px;
	background: rgb(82, 176, 250);
	color: rgb(255, 255, 255);
	text-indent: 90px;
}

/**
 * FORM
 */
body > form{
	margin:0 -60px 20px;
	padding:20px 60px;
	background-color: rgb(156, 250, 82);
	box-shadow: 0 10px 10px -10px rgb(0, 0, 0);
	position: relative;
}
body > form > h2,
body > form > h3,
body > form > h4{
	margin-top:0;
	padding-top:0;
}


q{
	color:green;
}
i{
	color:blue;
}





@media all and (max-width: 1000px) {
	body{
		padding:10px;
	}
	blockquote,footer,body>form{
		padding:10px;
		margin:0;
	}
	h2{
		margin-left:0;
		margin-right:0;
	}
}

@media all and (max-width: 650px), screen and (max-device-width: 480px) {
	*{
		max-width:100%;
	}
	body {
		margin:0;
		padding:4px;
	}
	header{
	}


	pre,.pre{
		overflow-x:auto;
		-webkit-tab-size:2;
		-moz-tab-size:2;
		-ms-tab-size:2;
		-o-tab-size:2;
		tab-size:2;
	}

}


.hide{
	display:none;
}


/**
 * Pre
 */

pre,.pre{
	color:green;
	display: block;
	font-family:monospace;
	background-color:#f4f4f4;
	border:1px solid #e4e4e4;
	border-left-width:10px;
	white-space:pre-wrap;
	padding: 15px;
	margin: 0 0 35px 0;	
	max-width:100%;
}
script.pre:not(:empty):before{
	content:"<script>";
	color:#a4a4a5;
}
script.pre:not(:empty):after{
	display: block;
	content:"</script>";
	color:#a4a4a5;
}
style.pre:before{
	content:"/* CSS stylesheet */";
	color:#a4a4a5;
}

script.pre[src], link.pre[href]{
	cursor: pointer;
}
script.pre[src]:hover, link.pre[href]:hover{
	text-decoration: underline;
}
script.pre[src]:after{
	content:"<script src='" attr(src) "'></script>";
}
link.pre:after{
	content:"<link href='" attr(href) "' rel='stylesheet'/>";
}

pre[title].before,.pre[title]:before{
	position: absolute;
	margin-top: -30px;
	content: attr(title);
	background: #E4E4E5;
	margin-left: -25px;
	padding: 0 10px;
}

pre:empty:before{
	content: "[waiting for it]";
	color:#4E5160;
}

pre[contenteditable]:focus{
	color:black;
	background-color:white;
}
pre[contenteditable]{
	position:relative;
}
pre[contenteditable]:after{
	content:"edit";
	position:absolute;
	top:0;
	right:0;
	color:red;
	background-color:#E4E4E4;
	padding:0 10px;
}
pre[contenteditable]:focus:after{
	background-color:white;
}

pre + button,.pre + button{
	margin-top:-60px;
	position:absolute;
	background:rgb(78,81,96);
	border:none;
	color:white;
}
pre + button:active,.pre + button:active{
	background:rgb(98,101,116);
}
pre.tryit, pre.tryitoffline{
	margin-bottom:50px;
}

pre .str { color: #080; }
pre .kwd { color: #008; }
pre .com { color: #800; }
pre .typ { color: #606; }
pre .lit { color: #066; }
pre .pun { color: #660; }
pre .pln { color: #000; }
pre .tag { color: #008; }
pre .atn { color: #606; }
pre .atv { color: #080; }
pre .dec { color: #606; }





/**
 * Table, compatibility
 */
table{
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	background-color:inherit;
}
	/** BROWSER LOGO's */
	table thead th div{
		margin:0 auto;
		background:url("images/browsers.png") no-repeat top left;
		width:25px;
		height:25px;
	}
	div.ie6{
		background-position:0 0;
	}
	div.ie7,div.ie8{
		background-position:-25px 0;
	}
	div.ie9,div.ie10{
		background-position:-50px 0;
	}
	div.ff{
		background-position:0 -25px;
	}
	div.op{
		background-position:0 -50px;
	}
	div.cr{
		background-position:0 -75px;
	}
	div.sa{
		background-position:0 -100px;
	}
	/** EOF BROWSER LOGO's */

	tr.break th{
		background-color:#f8f8f8;
	}
	tr.break th:first-child{
		border-top:0;
		border-bottom:0;
		border-right:0;
		vertical-align:middle;
	}
	tr.break th:last-child{
		border-left:0;
	}

	td,th{
		text-align:left;
		border-bottom:1px solid #D2D2D2;
		padding:4px 10px 4px 6px;
		vertical-align: top;
	}
	thead td,th{
		border-bottom-width:3px;
	}
		table td pre{
			margin:0;
			padding:0;
			background-color:transparent;
			border:none;
		}

		td.yes, td.no{
			vertical-align: middle;
		}
		.yes:before, .no:before{
			color:white;
			text-transform:uppercase;
			display: inline-block;
			border-radius:5px;
			padding:3px 10px;
		}
		.yes:before{
			content:"\02714";
			background-color:#10A54A;
		}
		.no:before{
			content:"\02716";
			background-color:red;
		}
	
	tbody th{
		padding-left:10px;
	} 
	thead + tbody tr th, tbody tr:not(:first-child) th{
		border-bottom-width:1px;
	}
		tbody th p{
			font-weight:normal;
		}

	td.partial,span.partial{
		background-color:#20A84D;
	}



/* TOC */
	nav.toc{
		position:fixed;
		top:0;
		margin-left:-260px;
		max-width:200px;
		width:auto;
		text-align:right;
		font-weight:300;
		z-index:-1;

	}
	nav.toc ul{
		margin:0;
		padding:0;
	}
	nav.toc li{
		font-size:100%;
		list-style:none;
		padding:4px 0;
		position:relative;
	}
	nav.toc li.active:after{
		content:" ";
		position:absolute;
		display:inline-block;
		right:-10px;
		top:0;
		border:10px solid transparent;
		border-left-width:0;
		border-right-color:inherit;
		border-right-width:5px;
	}

	nav.toc li li a{
		font-size:90%;
	}
	nav.toc li li li a{
		font-size:80%;
		font-weight:normal;
	}
	nav.toc a{
		color:inherit;
		text-decoration: none;
		display: block;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	nav.toc a:hover{
		color:white;
		color:rgba(255,255,255,0.9);
	}

@media all and (max-width: 1400px) {
	nav.toc{
		position: fixed;
		left:50%;
		margin-left: 0;
		color:inherit;
		text-align:left;
	
		top: 0;
		z-index: 1;
		background-color: white;
		padding: 10px;
		border: 1px solid #ccc;
		box-shadow: -1px 1px 5px #ccc;
		max-height:100%;
		overflow: auto;
	}
	nav.toc:before{
		content:"[TOC]";
	}
	nav.toc ul{
		display: none;
	}
	nav.toc:hover{
		overflow:auto;
	}
	nav.toc:hover ul{
		display: block;
	}
	nav.toc li a,
	nav.toc li a:hover,
	nav.toc li li a,
	nav.toc li li a:hover,
	nav.toc li li li a,
	nav.toc li li li a:hover{
		color:inherit;
	}
}

/**
 * Really small screens
 */
@media all and (max-width: 400px){
	ul{
		padding-left: 20px;
	}
}